<div id="home">
  <div class="container">
    <div class="row">
      <!-- Modal Form -->
      <div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h4 class="modal-title w-100 font-weight-bold">Add New Item</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body mx-3">
              <div class="md-form mb-5">
                <input type="text" id="name" class="form-control validate" placeholder="Name">
                <label data-error="wrong" data-success="right" for="name"></label>
              </div>

              <div class="md-form mb-5">
                <input type="email" id="category" class="form-control validate" placeholder="Categories">
                <label data-error="wrong" data-success="right" for="categories"> </label>
              </div>

              <div class="md-form mb-5">
                <input type="text" id="expirationdate" class="form-control validate" placeholder="Expiration Date">
                <label data-error="wrong" data-success="right" for="Expiration Date"></label>
              </div>

              <div class="md-form mb-5">
                <input type="text" id="Warrantyvalid" class="form-control validate" placeholder="warrantyvalid">
                <label data-error="wrong" data-success="right" for="warrantyvalid"></label>
              </div>

              <div class="md-form mb-5">
                <input type="text" id="phonenumber" class="form-control validate" placeholder="phonenumber">
                <label data-error="wrong" data-success="right" for="phonenumber"></label>
              </div>
              <div class="form-group">
                <label for="note"></label>
                <textarea class="form-control" id="note" rows="1" placeholder="Add note here"></textarea>
              </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
              <button class="btn btn-unique bg-primary">Send <i class="fas fa-paper-plane-o ml-1"></i></button>
            </div>
          </div>
        </div>
      </div>
      <!-- Display table -->
      <title>Add more items</title>
      </head>

      <body>
        <div class="container">
          <div class="table">
            <table data-toggle="table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Categories</th>
                  <th>Barcode #</th>
                  <th>Renewal Price</th>
                  <th>Expiration date</th>
                  <!-- Button to pop out modal form -->
                  <th><a href="#" class="btn btn-default btn-rounded bg-primary text-white" data-toggle="modal"
                      data-target="#modalContactForm">+</a></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Samsung TV</td>
                  <td>Electronics</td>
                  <td>98878GF7260K489F</td>
                  <td>$250</td>
                  <td>12/03/2022</td>
                  <td><input type="button" value="X"></td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>

<script>
$("button").on("click", function(e) {
  e.preventDefault();
  var newItem = {
    itemName: $("#name")
      .val()
      .trim(),
    category: $("#category")
      .val()
      .trim(),
    expirationDate: $("#expirationdate")
      .val()
      .trim(),
    warrantyValid: $("#warrantyvalid")
      .val()
      .trim(),
    phoneNumber: $("#phonenumber")
      .val()
      .trim(),
    note: $("#note")
      .val()
      .trim()
  };

  console.log(newItem);

  // Clear the form field
  $("#name").val("");
  $("#categories").val("");
  $("#barcode").val("");
  $("#renewal-price").val("");
  $("#date").val("");
});

</script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/js/index.js"></script>